body {
    font-family: sans-serif;
  }
  
  .countries > path {
    opacity: 0.8;
    stroke: white;
    stroke-width: 0.3;
  }
  
  .countries > path:hover {
    opacity: 1;
    stroke: red;
    stroke-width: 1;
    z-index: 1;
  }
  
  svg {
    background-color: rgb(255, 255, 255);
    cursor: move;
  }
  
  .tooltip {
    position: absolute;
    background: darkgreen;
    border-radius: 5px;
    color: white;
    opacity: 0; /* initially hidden */
    padding: 0.5rem;
    pointer-events: none;
  }